<div class="container">
<h1>Ajouter votre van</h1>

<div class="mt-4 mb-4">
<%= render "form", van: @van %>
</div>

<div>
  <%= link_to "Tous les vans", vans_path, class: "btn btn-secondary mb-1" %>
</div>
</div>
