<div class="container">
  <div class="row">
    <div class="col-6">
       <%= render "form", van: @van %>
    </div>

    <div class="col-6">
      <img src="https://www.moodgoyave.com/wp-content/uploads/2023/07/van-life-liberte.jpg" width="600px" class="object-fit-cover rounded-4" alt="">
    </div>
  </div>
</div>
