// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #000000;
  transition: 0.3s ease;
}
.btn-flat:hover {
  background: #3D3D3D;
  color: white;
}
.row {
  margin-top: 2rem;
  padding-top: 35px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  text-align: center !important;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.card-home {
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: 0px 5px 7px 5px #D5D5D5;
  margin: 30px;
  padding: 0;
}

.card-body {
  height: 140px;
  padding: 0px 14px;
}

.card-title {
  margin: 8px 0;
}

.card-home:hover {
  box-shadow: 0px 5px 7px 5px #7e7e7e;
  transition: 0.3s ease;
}

.card-img-top {
  height: 12rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

 #description {
  margin-top: 12px;
  text-align: center;
 }

 .carousel-inner {
  margin-top: 2rem;
  height: 40rem;
  width: 100%;
  border-radius: 20px;
 }

 .carousel-item-photo {
  object-fit: cover;
  height: 640px;
  object-position: center;
  display: flex;
 }

 .carousel-caption {
  height: 6rem;
  border-radius: 1rem;
  background-color:rgba(100, 100, 100, 0.5);
  transition: 0.3s ease;
}

 .carousel-caption:hover {
  background-color: black;
}
