// Import page-specific CSS files here.
@import "home";

h1 {
  font-weight: bold;
}

.card-img {
    height: 14rem;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.btn-map {
  border-radius: 12px;
  display: block;
  margin : auto;
  margin-bottom : 16px;
}

#map {
  width: 100%;
  height: 500px;
}

.plain {
  text-decoration: none;
  color: black;
}

.plain:hover {
  text-decoration: none;
  color: rgb(98, 92, 92);
}
.resize{
  width: 516px;
  height: 290.25px;
  object-fit: cover;
  object-position: center;
}

.card-body-index {
  height: 180px;
  padding: 0px 14px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 10px;
}

.card-text-index {
  height: 2.5em;
}
