<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <h1>Your booked vans</h1>
      <ul class="list-group mb-3">
        <%= render @bookings_as_visitor %>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-10 mt-5">
      <h1>Your rented-out vans</h1>
      <ul class="list-group mb-3">
        <%= render @bookings_as_owner %>
      </ul>
    </div>
  </div>
</div>
