<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.moodgoyave.com/wp-content/uploads/2023/07/van-life-liberte.jpg);">
  <div class="container">
    <h1>Welcome to <strong>Spry® Xplore</strong></h1>
    <p>Change the way you explore, set off for new adventures!</p>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>
