
.dashboard-h1 {
  margin-top: 20px;
  margin-left: 20px;

}

.title-dashboard {
  margin-bottom: 20px;
  font-weight: bold;
}


.container-card {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0px;
  margin: 10px;
}

.card-dashboard-img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin-right: 15px;
}

.container-info .title-dash {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.container-info .start-date {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.container-info .end-date {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.status {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.button-status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px; /* Ajoutez un espacement au-dessus des boutons */
}

.button-status .btn {
  border-radius: 20px; /* Bordures arrondies */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Ombre pour un effet 3D */
  background: linear-gradient(to right, #222121, #2a2a2a); /* Dégradé de couleur */
  border: none; /* Supprime la bordure par défaut */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement interne */
  margin-left: 10px; /* Espacement entre les boutons */
  transition: transform 0.2s; /* Effet de transition */
}

.button-status .btn:hover {
  transform: scale(1.05); /* Agrandit légèrement le bouton au survol */
}

/* Responsive design */
@media (max-width: 768px) {
  .button-status .btn {
    padding: 8px 16px; /* Réduit l'espacement interne sur les petits écrans */
    font-size: 0.9em; /* Réduit la taille du texte */
  }
}
